:root {
    --orange: #ff6a00;
    --red: #ff0000;
    --blue: #0051ff;
    --white: #ffffff;
    --gray: gray;
    --yellow: #ffff00;
    --orangeWOpacity: #ff6a00da;
    --blueWOpacity: #0051ff98;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--blueWOpacity);
}

a {
    text-decoration: none;
}

section.certificates-container {
    margin: 50px 100px;
}

section.certificates-container a {
    color: black;
}

section.certificates-container h2.title {
    font-family: "Courgette", cursive;
    font-size: 40px;
    background: linear-gradient(var(--blue) 25%, var(--white));
    background: -webkit-linear-gradient(var(--blue) 25%, var(--white));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

div.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 50px;
    padding: 10px;
}

.wrapper .card {
    width: 20%;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.25);
    transition: box-shadow 0.5s;
    position: relative;
    margin-bottom: 50px;
}

.wrapper .card:hover {
    box-shadow: 0px 10px 15px var(--blueWOpacity);
}

.wrapper .card .text {
    background: -webkit-linear-gradient(left, var(--orange), var(--yellow));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.wrapper .card .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.wrapper .card:hover .text {
    background: -webkit-linear-gradient(var(--blue) 25%, var(--white));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Academic container style */

.wrapper .card.academic {
    background-image: url(../images/academicImg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* CISCO container style */

.wrapper .card.cisco {
    background-image: url(../images/ciscoLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Freecodecamp container style */

.wrapper .card.freecodecamp {
    background-image: url(../images/freecodecampLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* HackerRank container style */

.wrapper .card.hackerrank {
    background-image: url(../images/hackerrankLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* SoloLearn container style */

.wrapper .card.sololearn {
    background-image: url(../images/sololearnLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Section Top Page, Styles for container pages */

section.top-page div.header-container {
    width: 80%;
    margin: auto;
    background: linear-gradient(var(--blue), var(--white));
    background: -webkit-linear-gradient(var(--blue), var(--white));
    border: 1px solid var(--blueWOpacity);
    border-top: none;
}

section.top-page div.header-container div.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 10px 20px;
}

section.top-page div.header-container div.header-content a i {
    font-size: 25px;
    margin-right: 20px;
    color: var(--blue);
}

section.top-page div.header-container div.header-content a p.header-text {
    font-size: 30px;
    color: var(--blue);
}

/* Section Certificates, Styles for container pages  */

section.certificates-container h2.certificate-title {
    font-family: "Courgette", cursive;
    font-size: 40px;
    background: linear-gradient(var(--blue) 25%, var(--white));
    background: -webkit-linear-gradient(var(--blue) 25%, var(--white));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section.certificates-container div.container {
    display: flex;
    flex-wrap: wrap;
}

section.certificates-container div.container div.img-box {
    flex: 1 1 400px;
}

section.certificates-container div.container div.img-box img {
    width: 75%;
    margin: 0 15% 30px;
}

/* Responsive */

@media screen and (max-width: 1024px) {
    .wrapper .card {
        width: 30%;
    }
}

/* Pixel 2 XL */
/* Iphone X */

@media screen and (max-width: 823px) and (orientation: landscape) {
    div.wrapper {
        justify-content: space-around;
    }
    .wrapper .card {
        width: 45%;
        box-shadow: 0px 10px 15px var(--blueWOpacity);
    }
    .wrapper .card .text {
        background: -webkit-linear-gradient(var(--blue) 30%, var(--white));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

@media screen and (max-width: 800px) {
    div.wrapper {
        justify-content: space-around;
    }

    .wrapper .card {
        width: 45%;
        box-shadow: 0px 10px 15px var(--blueWOpacity);
    }
    
    .wrapper .card .text {
        background: -webkit-linear-gradient(var(--blue) 30%, var(--white));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

/* Pixel 2 */
/* Nexus 6 */
/* Surface Duo */
/* Iphone 6/7/8 Plus */

@media screen and (max-width: 740px) and (orientation: landscape) {
    section.certificates-container {
        margin: 50px;
    }
}

/* Galaxy S5 */
/* Galaxy Note 2/3 */
/* LG Optimus L70 */
/* Nexus 4/5 */

@media screen and (max-width: 640px) and (orientation: landscape) {
    section.certificates-container {
        margin: 50px 30px;
    }
}

@media screen and (max-width: 600px) {
    /* CERTIFICATE SOURCE PAGE */
    section.certificates-container {
        margin: 50px 100px;
    }

    .wrapper .card {
        width: 75%;
    }

    /* CERTIFICATE PAGES */
    section.certificates-container h2.certificate-title {
        font-size: 30px;
    }
    section.certificates-container div.container div.img-box img {
        width: 90%;
        margin: 0 0 30px;
    }
}

@media screen and (max-width: 570px) and (orientation:landscape) {
    /* CERTIFICATE SOURCE PAGE */
    .wrapper .card {
        width: 90%;
    }

    /* CERTIFICATE PAGES */
    section.certificates-container h2.certificate-title {
        font-size: 25px;
    }
}

/* Mobiles which have a different nav menu */
@media screen and (max-width: 550px) {
    /* CERTIFICATE SOURCE PAGE */
    .wrapper .card {
        width: 100%;
    }

    .wrapper .card .text {
        margin-bottom: 30px;
    }

    /* CERTIFICATE PAGES */
    section.certificates-container div.container div.img-box img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    section.certificates-container {
        margin: 30px 25px;
    }

    section.certificates-container h2.title {
        font-size: 30px;
    }

    .wrapper .card.academic .text {
        margin-bottom: 15px;
    }

    .wrapper .card .text {
        font-size: 20px;
    }
}

@media screen and (max-width: 385px) {
    /* CERTIFICATE SOURCE PAGE */
    .wrapper .card {
        height: 280px;
    }

    .wrapper .card.academic .text {
        margin-bottom: 30px;
    }

    /* CERTIFICATE PAGES */
    section.top-page div.header-container div.header-content a i,
    section.top-page div.header-container div.header-content a p.header-text,
    section.certificates-container h2.certificate-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 330px) {
    /* CERTIFICATE SOURCE PAGE */
    div.wrapper {
        margin: 10px 25px;
    }

    /* CERTIFICATE PAGES */
    section.top-page div.header-container div.header-content a i,
    section.top-page div.header-container div.header-content a p.header-text,
    section.certificates-container h2.certificate-title {
        font-size: 20px;
    }
}